<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


  </head>
  <body>
    <div class="heading" style="background-image: url(https://images.unsplash.com/photo-1537429149818-2d0e3e20857b); background-size: cover; background-position: center;">
        <div class="container">
                <div class="row">
                  <div class="col-md-12">
                          <div class="jumbotron" style="background: none">
                              <h1 class="display-4" style="text-align: center;">NASA MARS!</h1>
                              <h4 style="text-align: center;">Welcome to my mission to mars</h4>
                              <p style="text-align: center;font-weight: bold;"> For this homework we used pandas, flask, MongoDB and HTML to scrap Mars data and present here. Enjoy.</p>
                          </div>
                  </div>
              </div>

    <!--Navigation bar-->
    <div class="jumbotron text-center" style="background-image: url(https://wallpapersite.com/images/pages/pic_w/19287.jpg); background-size: cover; background-position: center;">
        <h1 class="display-4" style="font-weight: bold; color: red">Be prepared for the Journey of your life</h1>
        <a class="btn btn-lg text-white" style="background-color:rgb(14, 0, 139)" href="/scrape" role="button"> Start here</a>
    </div>
    </div>  
    
    
    <!-- Latest Mars News -->
    <div class="container">
            <h3 style="font-weight: bold; color: white">NASA Mars News</h3>
            <hr>
            <h6 style="font-weight: bold;color: white">{{ mars_coll.news_title }}</h6>
            <p>{{ mars_coll.news_paragraph }}</p>
        </div>
        
        <!--Mars  image-->
        <div class="container" style="background: none; padding: 20px;">
          <div class="row">
            <div class="col-md-7">
              <div class="box">
                <h3 class="title" style="font-weight: bold; color: white">Space Image</h3>
                <hr>
                <br>
                  <img src="{{ mars_coll.featured_image_url }}" alt="Mars Featured Image" style="width:100%">
              </div>
            </div>
    
            <!--Current weather / mars facts-->
            <br>
            <div class="col-md-5">
                <div class="box">
                  <div class="container">
                    <div class="row">
                        <div class="card" style="width:auto; background-color: transparent;">
                            <div class="card-body">
                                <h3 class="card-title" style="font-weight: bold; color: white" >Current Weather on Mars</h3>
                                <p class="card-text">{{ mars_coll.weather_tweet }}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="width: auto;">
                      <h3 style="text-align: center; font-weight: bold; color: white">Mars Facts</h3>
                      <div>
                          {{ mars_coll.mars_facts|safe}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

    <!-- Mars Hemispheres -->
    <br>
    <div class="card-deck">
    <div class="container">
        <h3 style="text-align: center; font-weight: bold; color: white">Mars Hemispheres</h3>
        <hr>
        <br>
        <div class="row">
                    {% for info in mars_coll.hemispheres %}
                  <div class="col-md-3">
                    <div class="card text-black" style="margin: 25px;">
                        <img class="card-img-top" src="{{ info.final_image_url }}" alt="Mars hemispheres Images"/>
                        <div class="card-body">
                            <p class="card-text">{{ info.title }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>ls 
    </div>

    
  </body>



</html>